.list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.32px;
        line-height: 1.5;
    }

        li {
            list-style-type: none;
        }
    
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    
        ul {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }
    
        .container {
            width: 1158px;
            max-width: 1440px;
            padding: 0 15px;
            margin: 0 auto;
        }

        .header-class {
         display: flex;
        }
        
        .container-menu {
            display: flex;
            border-bottom: 1px solid #e7e9fc;
        }
        
        .nav-conteiner {
            display: flex;
            gap: 40px;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
        
        .nav-conteiner li {
            display: inline-block;
            margin-right: 10px;
            }
        
        .contacts {
            display: flex;
            gap: 40px;
            padding: 24px 0;
            justify-content: flex-end;
            margin: auto;
                }
        
        .menu-contacts {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 40px;
            justify-content: flex-end;
            }
    
                .link-contacts-menu {
                    display: flex;
                    justify-content: flex-end;
                }
        
                .menu-contacts li {
                    display: inline-block;
                    margin-right: 10px;
                }
        /*LOGO STYLE*/
        .logo {
            color: #4D5AE5;
            font-family: "Raleway", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 0.54px;
                text-transform: uppercase;
        }

            .text-logo {

                    color:#2E2F42;
                    font-family: "Raleway", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.17;
                    letter-spacing: 0.54px;
                    text-transform: uppercase;
            }
            .link-nav {
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
                 color: #2e2f42;
            }
           .link-nav:hover,
             :focus {
         color: #404bbf
             }

        /*ADDRESS STYLE*/
            .contacts {
             font-style: normal;
             } 
            .link-contacts{
                font-size: 16px;
                line-height: 1.5;
                 letter-spacing: 0.02em;
                color: #434455;
            }
            .link-contacts:hover,
                  .link-contacts:focus {
                    color: #404bbf;
                 }
                 
            .hero {background-color: #2e2f42;
                padding: 180px 0;
                }
                .hero-title {
                    color: #FFF;
                    text-align: center;
                    font-size: 56px;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    margin: 0 auto;
                    margin-bottom: 48px;
                    max-width: 496px;
                }

            .hero-button {
                    background-color: #4D5AE5;
                    color: #FFF;
                    font-family: Roboto , sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    cursor: pointer;
                    display: block;
                    min-width: 169px;
                    height: 56px;
                    border: none;
                    border-radius: 4px;
                    margin: 0 auto;
                 }
                 .hero-button:hover,
                 .hero-button:focus  {
                    background-color: #404bbf;
                    cursor: pointer;

                 .qualities {
                         padding: 120px 0;
                        }
                    
                        .qualities-list {
                            display: flex;
                            gap: 24px;
                        }
                    
                        .qualities-list-item {
                            width: calc((100% - 72px) / 4);
                        }
                 }
                 .section-title {
                    color: #2e2f42;
                    text-align: center;
                    font-family: 'Roboto';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.72px;
                    text-transform: capitalize;
                 }
                 .list-title {
                    color: #2e2f42;
                    font-size: 20px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    margin-bottom: 8px;

                 }

                 .list-text {
                    color: #434455;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.32px;

                 }
                 .our-team {
                    background-color: #f4f4fd;
                    padding: 120px 0;
                
                 }
                 .list-our-team {
                    background-color: #FFF;

                 }

                 .title-our-team {
                  margin-bottom: 72px;
                  }
                .our-team-points {
                      display: flex;
                     gap: 24px;
                }
                 .our-team-item {
                   width: calc((100% - 72px) / 4);
                   border-radius: 0px 0px 4px 4px;
                     }
                .list-container {
                      padding: 32px 0;
                     }
                     
                .list-title-container {
                      text-align: center;
                        margin-bottom: 8px;
                     }
                    
                .list-text-container {
                     text-align: center;
                    }
                 .our-portfolio {
                     padding: 120px 0 120px 0;
                     }
                    
                 .title-our-portfolio {
                    margin-bottom: 72px;
                    }
                    
                .our-portfolio-points {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 24px;
                    row-gap: 48px;
                    }
                    
                .our-portfolio-item {
                    width: calc((100% - 48px) / 3);
                    }
                    
                .our-portfolio-list-container {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;
                    margin-bottom: 8px;
                     }
                 
                 .happy-end {
                    background-color: #2e2f42;
                    padding: 100px 0;
                 }
                .logo-container {
                     display: inline-block;
                     margin-bottom: 16px;
                     }
                .happy-end-logo {
                    color: #f4f4fd;
                    font-family: "Roboto", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.17;
                    letter-spacing: 0.54;
                    text-transform: uppercase;
                    display: inline-block;
                    margin-bottom: 16px;
                }

                .happy-end-text {
                        color: #F4F4FD;
                        /* Body */
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        /* 150% */
                        letter-spacing: 0.02em;
                        max-width: 264px;
                }

        

